html, body{margin:0;padding:0;background:#f1f1f1}.konten{width:47%;height:auto;position:block;margin-left:auto;margin-right:auto}.gambar{width:100%}.bawah{background:#24e2be;width:100%;color:#24e2be;margin-top:-15px}@media screen and (max-width:601px){.konten{width:100%}}
